<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.count) { %>
        <h1> There are <%= count %> elements in your name.</h1>
    <% } else {%>
    <h1>Welcom enter your name</h1>
    <% }%>
    <form action="/submit" method="POST">
        <input type="text" name="namme" placeholder="First name">
        <input type="text" name="sname" placeholder="last name">
        <input type="submit" value="Done">
    </form>
</body>
</html>